@using YouCan.ViewModels.Account;
@model User

@{
    ViewBag.Title = "title";
    Layout = "_NavBar";
}

<div class="row g-0 pt-5" id="profile">
    <div class="col-md-4 pb-5 text-center border-bottom">
        <img src="@Model.AvatarUrl" width="200" height="200" class="rounded-circle mx-auto ">
    </div>
    
    <div class="col-md-8 border-bottom">
        <div class="card-body">
            <div class="row">
                <div class=" col col-3"><h5 id="profileEmail">@Model.Email</h5></div>
                @if (ViewBag.EditAccess)
                {
                    <div class="col col-3 d-flex ms-4">
                        <a asp-action="Edit" class="my-auto btn btn-light me-auto" id="edit">Редактировать</a>
                    </div>
                }
                <div class="col col-12 mt-4">UserName: &nbsp;<h5 id="profileUserName">@Model.UserName</h5></div>
                <div class="col col-12 mt-4">Phone number: &nbsp;<h5 id="profilePhone">@Model.PhoneNumber</h5></div>
                <div class="col col-12 mt-4">FullName: &nbsp;<h5 id="lastNameProfile">@Model.FullName</h5></div>
            </div>
        </div>
    </div>
</div>