@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@model YouCan.Mvc.ViewModels.Account.EmailConfirmationViewModel

<html>
<head>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            color: #333;
            background-color: #f4f4f4;
            padding: 20px;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 10px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .header {
            text-align: center;
            background-color: #1252b3;
            color: white;
            padding: 10px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        .header h1 {
            margin: 0;
        }

        .content {
            padding: 20px;
        }

        .content p {
            margin: 10px 0;
        }

        .content a {
            color: #4CAF50;
            text-decoration: none;
        }

        .button {
            display: inline-block;
            padding: 10px 20px;
            margin: 20px 0;
            font-size: 16px;
            color: white;
            background-color: #1252b3;
            border: none;
            border-radius: 5px;
            text-align: center;
            text-decoration: none;
        }

        .footer {
            text-align: center;
            padding: 10px;
            font-size: 12px;
            color: #777;
            border-top: 1px solid #ddd;
            background-color: #f7f7f7;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }
    </style>
</head>
<body>
    <div class='container'>
        <div class='header'>
            <h1>@Localizer["Header"]</h1>
        </div>
        <div class='content'>
            <p>@Localizer["YourUsername"]</p>
            <p><strong>@Model.Username</strong></p>
            <p>@Localizer["YourCode"]</p>
            <h2>@Model.Code</h2>
        </div>
        <div class='footer'>
            <p>@Localizer["Footer"]</p>
        </div>
    </div>
</body>
</html>