@using Microsoft.AspNetCore.Mvc.TagHelpers
@using YouCan.Mvc.ViewModels.Account
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@model UserProfileViewModel

@{
    ViewBag.Title = "Profile";
    Layout = "_NavBar";
}

<link rel="stylesheet" href="~/css/profile.css" asp-append-version="true" />

<div class="container ps-5  pb-6rem">
    <h1 class="d-md-none text-center profile-title">Профиль</h1>
    <hr class="d-md-none">
    <div class="row row-cols-1 row-cols-lg-2">
        <div class="col">
            <div class="mt-md-5 mx-lg-0">
                <div class="d-flex flex-row justify-content-between mx-2 mx-lg-0 mb-5">
                    <div class="">
                        <p class="profile-text-primary">@Model.User.FullName</p>
                        <p class="profile-text-secondary">@Model.User.PhoneNumber</p>
                        <div class="d-flex flex-row align-items-center">
                            <img class="clock-img d-block" src="@Url.Content("~/profileIcons/oclock.png")"></img>
                            <p class="profile-text-secondary ms-1">Регистрация -</p>
                        </div>
                    </div>
                    <div class="">
                        <img class="profile-img" src="@Url.Content($"~{Model.User.AvatarUrl}")" alt="avatar">
                    </div>
                </div>
            </div>
            <a asp-action="Edit" class="btn edit-profile-button d-inline-block p-0 d-flex flex-column justify-content-center">
                <div class="edit-profile-button-body d-flex flex-row align-items-center justify-content-between">
                    <img class="pencil-img" src="@Url.Content("/profileIcons/pencil.png")" alt="pencil">
                    <p class="m-0 font-weight-bold">@Localizer["LinkEdit"]</p>
                    <img class="arrow-img" src="@Url.Content("/profileIcons/arrow.png")">
                </div>
            </a>
            <hr>
        </div>
        <div class="row">
            <div class="col">
                <h3>Your Levels</h3>
                <ul>
                    @foreach (var level in Model.UserLevels)
                    {
                        <li>
                            Subject: @level.Subject?.Name - Level: @level.Level
                        </li>
                    }
                </ul>
            </div>
            <div class="col">
                <h3>Achievements</h3>
                <ul>
                    @foreach (var lesson in Model.UserLessons)
                    {
                        <li>
                            <strong>@lesson.Title</strong> - Passed Level: @lesson.PassedLevel, Required Level: @lesson.RequiredLevel
                        </li>
                    }
                </ul>
            </div>
            <div class="col">
                <h3>Your Score</h3>
                <p>@ViewBag.UserScore</p>
            </div>
        </div>
    </div>
</div>
