@using Microsoft.AspNetCore.Mvc.TagHelpers
@model YouCan.Areas.ViewModels.SubjectViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Редактировать продукт</h2>

<form asp-action="Edit" enctype="multipart/form-data">
    @Html.ValidationSummary(true)
    <input type="hidden" asp-for="Id"/>
    <input type="hidden" asp-for="SubjectType"/>
    <input type="hidden" asp-for="ImageUrl" name="ImageFile" accept="image/*"/>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control"/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ParentId">Выберите предмет если вы хотите создать дочерний</label>
        <select asp-for="ParentId" class="form-control">
            <option value="">-- Выберите родительский предмет --</option>
            @foreach (var subject in ViewBag.Subjects)
            {
            if (subject.SubjectType == SubjectType.Parent)
            {
            <option value="@subject.Id">@subject.Name - Parent</option>
            }
            else
            {
            <option value="@subject.Id">@subject.Name - Child</option>
            }
            }
        </select>
        <span asp-validation-for="ParentId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ImageFile">Изображение</label>
        <input asp-for="ImageFile" type="file" name="ImageFile" class="form-control">
        <span asp-validation-for="ImageFile" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary mt-2">Подтвердить</button>
</form>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
