@using YouCan.Entities
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model YouCan.Entities.OrtTest

@{
    ViewBag.Title = "title";
    Layout = "_Navbar";
}
<link rel="stylesheet" href="~/css/ortTest.css">

<div class="container ort-trial-block">
    <img class="align-self-center" src="~/ortIcons/logo.svg" alt="logo-youcan"/>
    <p>Пробный тест</p>
</div>
<hr/>

<div class="container mx-auto ort-trial-test_details-block">
    <div class="ort-trial-test_details-block_title">
        <a asp-action="Index" asp-controller="OrtTests">
            <img src="~/ortIcons/Vector-3.png"/>
        </a>
        <p>Основные сведения о тесте</p>
    </div>
    
    <p class="my-4 ort-trial-test_details-block_text">Цель теста выявить способных к дальнейшему обучения абитуриентов.
        <br/>
        Этот тест дает Вам возможность показать что Вы знаете и умеете делать реально, . . .
    </p>
    <p class="ort-trial-test_details-block_text">Основной тест сдают все абитуриенты. Это обязательный тест. Он состоит из следующих разделов:</p>

</div>

<div class="col-8 mx-auto my-5">
    <div class="accordion" id="accordionExample">
        @for (int i = 0; i < Model.Tests.Count; i++)
        {
            Test test = Model.Tests[i];
            char romanNumber = (char)(0x2160 + i);
            string collapseId = $"collapseOne{i}";
            <div class="accordion-item mt-3 shadow rounded-3">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#@collapseId" aria-expanded="false" aria-controls="@collapseId">
                        @($"{romanNumber}.") &nbsp; @test.Subject.Name
                    </button>
                </h2>
                <div id="@collapseId" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p>@test.OrtInstruction.Description</p>
                        <p>
                            <span> Количество заданий: @test.OrtInstruction.QuestionsCount</span> <br/>
                            <span> Время: @test.OrtInstruction.TimeInMin минут</span>
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div class="mt-auto text-center mb-4">
    <a asp-controller="Tests" asp-action="Index" asp-route-ortTestId="@Model.Id" class="ort-trial-test_details-block_btn">Хорошо</a>
</div>