@model User

@{
    ViewData["Title"] = "Details";
    Layout = "_Admin";
}

<h1>Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt class="col-sm-2">
            Пройдено орт тестов
        </dt>
        <dd class="col-sm-10">
            @Model.Tests.Max(u => u.PassedLevel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AvatarUrl)
        </dt>


        <dd class="col-sm-10">
            <img style="width: 300px; height: 300px;" src="@Model.AvatarUrl" alt="..."/>
        </dd>
        <dt class="col-sm-2 pt-3 mb-3">
            Пройденные уроки
        </dt>
        <dd>
            @if (Model.Lessons == null || Model.Lessons.Count == 0)
            {
                <p>Пользователь еще не проходил уроки</p>
            }
            else
            {    
                <h3 class="mb-2">Уроки пользователя</h3>
                @foreach (var lesson in Model.Lessons)
                {
                    <ul>
                        @if (lesson.IsPassed)
                        {
                            <li>
                                <a asp-action="Edit" asp-controller="Study" asp-area="Admin" asp-route-lessonId="@lesson.Id" class="text-success fs-4">@lesson.Lesson.Title</a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a asp-action="Edit" asp-controller="Study" asp-area="Admin" asp-route-lessonId="@lesson.Id" class="text-danger fs-4">@lesson.Lesson.Title</a>
                            </li>
                        }
                    </ul>
                }
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
