@using Microsoft.AspNetCore.Identity
@inject UserManager<User> manager;
@model List<User>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Username
            </th>
            <th>
                Email
            </th>
            <th>
                Роль
            </th>
            <th>
                Права доступа
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var user in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => user.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.Email)
            </td>
            <td>
                @foreach (var role in await manager.GetRolesAsync(user))
                {
                    <span>@role</span>
                }
            </td>
            <td>
                @if (User.Identity.IsAuthenticated)
                {
                    @if (!await manager.IsInRoleAsync(user, "admin") && await manager.IsInRoleAsync(await manager.GetUserAsync(User), "admin"))
                    {
                        <form asp-action="ChangeRole" method="post">
                            <input type="hidden" name="Id" value="@user.Id"/>
                            <select name="role">
                                <option value=""></option>
                                <option value="admin">admin</option>
                                <option value="manager">manager</option>
                                <option value="user">user</option>
                            </select>
                            <button type="submit" class="btn btn-primary">Поменять права</button>
                        </form>
                    }
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-userId="@user.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@user.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@user.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
