@model YouCan.Entities.Topic

@{
    Layout = "_Admin";
}

<h1>Details</h1>

<div>
    <h4>Topic</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    <h2>Подтемы</h2>
    <a asp-action="Create" asp-controller="Subtopics" asp-route-TopicId="@Model.Id" asp-route-returnUrl="@Url.Action("Details", "Topics", new{id = Model.Id})">Добавить подтему</a>
    <ul>
        @foreach (var s in Model.Subtopics)
        {
            <li>
                <div class="border border-1">
                    <a asp-action="Details" asp-controller="Subtopics" asp-route-id="@s.Id">@s.Name</a>
                </div>
            </li>
        }
    </ul>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
