@using YouCan.Entities
@model List<AdminAction>

@{
    Layout = "_Layout";
}

<div class="controller">
    @foreach (var adminAction in Model)
    {
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@adminAction.Action</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">@adminAction.ExecuteTime</h6>
                <p class="card-text">@adminAction.Details</p>
                <a asp-controller="Users" asp-action="Details" asp-route-id="@adminAction.UserId" class="card-link">@adminAction.User.UserName</a>
            </div>
        </div>
    }
</div>