@model YouCan.Entities.Lesson

@{
    ViewBag.Title = "title";
    Layout = "_Navbar";
}
<link rel="stylesheet" href="~/css/lesson-module.css" asp-append-version="true" />

<div class="container content">
    <h1>@Model.Title</h1>
    <p class="subtitle">
       @Model.SubTitle
    </p>

    <div class="video-container embed-responsive embed-responsive-16by9">
        <video class="embed-responsive-item" controls>
            <source src="~@Model.VideoUrl" type="video/mp4" />
            <source src="~@Model.VideoUrl" type="video/ogg" />
            Your browser does not support the video tag.
        </video>
    </div>

    <h2 class="section-title">Описание</h2>
    <p class="description">
        @Model.Description
    </p>

    <h2 class="section-title">Подробно о лекции</h2>
    <p class="lecture">
        @Model.Lecture
    </p>
      @foreach (var module in Model.LessonModules)
      {
        <h2 class="section-title">@module.Title</h2>
        <div class="formula-box">
            @Html.Raw(module.Content)
            @if(module.PhotoUrl != null)
            {
                <img src="@Url.Content(module.PhotoUrl)" />
            }
        </div>
      } 
    <a class="test-button" asp-controller="MiniTests" asp-action="Index" asp-route-lessonId="@Model.Id">Пройти тест</a>
</div>
