@model Lesson

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="col-10 mt-5 mx-auto">
    <h2 class="mt-5"><strong>@Model.Title</strong></h2>
    <p class="mt-4">@Model.SubTitle</p>

    <div class="video-container mx-auto text-center mt-5">
        <video class=" col-12 mx-auto rounded-3" controls>
            <source src="~/lessonResources/lessonVideo.mp4" type="video/mp4">
            <source src="~/lessonResources/lessonVideo.ogg" type="video/ogg">
            Your browser does not support the video tag.
        </video>
    </div>
    <h5 class="mt-4">Description</h5>
    <p class="mt-4">@Model.Description</p>
    <h5 class="mt-4">Lecture</h5>
    <p class="mt-4">@Model.Lecture</p>
    
    <div class="text-center">
        <a class="btn btn-primary px-5 mt-5" asp-controller="MiniTests" asp-action="Index" asp-route-lessonId="@Model.Id">Пройти тест</a>
    </div>
    
</div>


