@model YouCan.Entities.Lesson

@{
ViewData["Title"] = "Lesson Details";
}

<div class="container my-4">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="mb-4 text-center">@ViewData["Title"]</h1>

            <div class="card">
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-4 font-weight-bold">
                            @Html.DisplayNameFor(model => model.Title)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Title)
                        </dd>

                        <dt class="col-sm-4 font-weight-bold">
                            @Html.DisplayNameFor(model => model.SubTitle)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.SubTitle)
                        </dd>

                        <dt class="col-sm-4 font-weight-bold">
                            @Html.DisplayNameFor(model => model.VideoUrl)
                        </dt>
                        <dd class="col-sm-8">
                            <a href="@Model.VideoUrl" target="_blank">@Model.VideoUrl</a>
                        </dd>

                        <dt class="col-sm-4 font-weight-bold">
                            @Html.DisplayNameFor(model => model.Description)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Description)
                        </dd>

                        <dt class="col-sm-4 font-weight-bold">
                            @Html.DisplayNameFor(model => model.Lecture)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Lecture)
                        </dd>

                        <dt class="col-sm-4 font-weight-bold">
                            @Html.DisplayNameFor(model => model.RequiredLevel)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.RequiredLevel)
                        </dd>

                        <dt class="col-sm-4 font-weight-bold">
                            @Html.DisplayNameFor(model => model.Subject)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Subject.Name)
                        </dd>
                    </dl>
                </div>
            </div>

            <div class="text-center mt-4">
                <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning">Edit</a>
                <a asp-action="Delete" asp-route-id="@Model?.Id" class="btn btn-danger">Delete</a>
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                <a asp-action="Modules" asp-route-id="@Model?.Id" class="btn btn-info">View Modules</a>
                <a asp-controller="Tests" asp-action="Index" asp-route-id="@Model?.Id" class="btn btn-primary">View Tests</a>
            </div>
        </div>
    </div>
</div>
