@model IEnumerable<YouCan.Entities.Lesson>

@{
    ViewData["Title"] = "Index";
}

<div class="container my-4">
    <div class="row mb-3">
        <div class="col-12 col-md-8">
            <h1 class="h3">@ViewData["Title"]</h1>
        </div>
        <div class="col-12 col-md-4 text-md-right text-center">
            <a asp-action="Create" asp-route-subjectId="@ViewBag.SubjectId" class="btn btn-success">Create New Lesson</a>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-hover table-striped table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Title)</th>
                            <th>@Html.DisplayNameFor(model => model.SubTitle)</th>
                            <th>@Html.DisplayNameFor(model => model.RequiredLevel)</th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Title)</td>
                                <td>@Html.DisplayFor(modelItem => item.SubTitle)</td>
                                <td>@Html.DisplayFor(modelItem => item.RequiredLevel)</td>
                                <td>
                                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info mx-1">Details</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
