@model Question

<div class="question-container text-center" data-question-id="@Model.Id">
    <h4 class="my-4">@ViewBag.SubjectName</h4>
    <span class="fw-bold fs-5">@Model.Instruction</span>
    <div class="question mt-4">
        @Model.Text
    </div>
    @for (int i = 0; i < Model.Answers.Count; i++)
    {
        var answer = Model.Answers[i];
        <label class="answer mt-4" role="button">
            <input type="radio" name="answer-@Model.Id" value="@answer.Id" class="answer-radio">
            <span class="answer-number">@((char)('А' + i))</span>
            <span class="answer-content h-100 w-100">@answer.Content</span>
        </label>
    }
</div>

@section Scripts {
    <script src="/js/trainTest.js"></script>
}