@model YouCan.Areas.Train.ViewModels.TestViewModel

@{
ViewBag.Title = "title";
Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/lesson-test.css" asp-append-version="true"/>

<div class="top-layout">
    <a class="close-button" href="javascript:history.back()">
        <img src="~/topicImages/exitButton.svg">
    </a>
</div>

<div class="col-10 col-sm-8 col-md-6 mx-auto mt-5">
    @if (Model.PageViewModel.TotalPages == 0)
    {
    <h5>Вопросов еще пока что нет!</h5>
    }
    else
    {
    <div class="text-center mt-5 my-5" id="pagination-container">
        @for (int i = 1; i <= Model.PageViewModel.TotalPages; i++)
        {
        var pageClass = "btn-default";
        if (i == Model.PageViewModel.PageNumber)
        {
        pageClass = "btn-primary";
        }

        <a class="btn @pageClass pagination-btn" id="page-@i">@i</a>
        }
    </div>
    <div id="questions-container" data-subtopic-id="@Model.TestId" data-current-page="@Model.PageViewModel.PageNumber">
        <div class="question-container text-center" data-question-id="@Model.CurrentQuestion.Id">
            <span class="fw-bold fs-5">@Model.CurrentQuestion.Instruction</span>
            <div class="question mt-4">
                @Model.CurrentQuestion.Content
            </div>
            @foreach (var answer in Model.CurrentQuestion.Answers)
            {
            <label class="answer mt-4" role="button">
                <input type="radio" name="answer-@Model.CurrentQuestion.Id" value="@answer.Id" class="answer-radio">
                <span class="answer-number">A</span>
                <span class="answer-content h-100 w-100">@answer.Text</span>
            </label>
            }
        </div>
    </div>
    <div class="text-center mt-5" id="pagination-container">
        <button class="btn btn-success shadow py-2 ms-3 px-1 px-lg-4" id="answer-button">Ответить</button>
        <button class="btn btn-danger shadow py-2 ms-3 px-1 px-lg-4" id="finish-button">Завершить</button>
    </div>
    }
</div>

@section Scripts {
    <script src="/js/trainTest.js"></script>
}