@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@using Microsoft.AspNetCore.Mvc.TagHelpers
@model List<OrtTest>
@{
    ViewBag.Title = @Localizer["PageTitle"];
    Layout = "_Navbar";
}

<link rel="stylesheet" href="~/css/ortTest.css">

<div class="container ort-trial-block">
    <img class="align-self-center" src="~/ortIcons/logo.svg" alt="logo-youcan"/>
    <p>@Localizer["TrialTest"]</p>
</div>
<hr/>


<h5 class="col-10 mx-auto border border-1 rounded-3 text-center py-sm-4 py-3 px-1 ">
    @Localizer["TestRules"]
</h5>

@if (Model == null || Model.Count == 0)
{
    <h5>@Localizer["Empty"]</h5>
}
else
{
    <div class="text-center mt-4">
            <h5 class="mx-auto">@Localizer["AvailableTests"]</h5>
    </div>
    <div class="col-8 mx-auto tests mt-5">
        @foreach (var ortTest in Model)
        {
            if (ViewBag.UserRoles.Contains("admin") || ViewBag.UserRoles.Contains("prouser") || ViewBag.UserRoles.Contains("manager"))
            {
                <a asp-action="Details" asp-route-ortTestId="@ortTest.Id">
                    <div class="ort-trial-block-paddings border border-1 text-success fw-bold text-center rounded-3 border-success mt-3">
                        <span>@Localizer.GetString("TrialTestNumber", ortTest.OrtLevel)</span>
                    </div> 
                </a>
            }
            else
            {
                if (ortTest.OrtLevel == 0 || ortTest.OrtLevel == 1)
                {
                    <a asp-action="Details" asp-route-ortTestId="@ortTest.Id">
                        <div class="ort-trial-block-paddings border border-1 text-success fw-bold text-center rounded-3 border-success mt-3">
                            <span>@Localizer.GetString("TrialTestNumber", ortTest.OrtLevel)</span>
                        </div> 
                    </a>
                }
                else
                {
                    <div style="color: #C4C4C4" class="ort-trial-block-paddings border border-1 rounded-3 te fw-bold text-center border-light-subtle mt-3">
                        <span>@Localizer.GetString("TrialTestNumber", ortTest.OrtLevel)</span>
                    </div>
                }
            }
        }
    </div>
    
}
