@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@model TestDto

@{
    ViewBag.Title = @Localizer["PageTitle"];
    Layout = "_Navbar";
}

<link rel="stylesheet" href="~/css/profile.css" asp-append-version="true" />

<div class="container">
    <div class="row justify-content-center mb-5">
        <form class="col-md-7 col-lg-5 m-0" asp-action="Create" method="post">
            <p class="text-center profile-title">@Localizer["Train"]</p>
            <hr>
            <a href="javascript:history.back()" class="btn">
                <img src="@Url.Content("~/profileIcons/arrow-back.svg")" />
            </a>
            <div class="mx-2">
                <div class="mx-5">
                    <h1 class="text-center fs-4">
                        @ViewBag.SubjectTitle
                    </h1>@* Поле title для темы *@
                    <p class="text-center fw-bold">@ViewBag.SubjectSubtitle</p>@* Поле subtitle для темы *@
                    <p class="text-center fs-8 fw-bold text-secondary-theme">
                        @* поле description для темы *@
                        @ViewBag.SubjectDescription
                    </p>
                </div>
                <input asp-for="SubjectId" class="d-none" />
                <div class="text-center mb-5 align-items-center m-0">
                    <textarea asp-for="Text" class="form-control"></textarea>
                </div>
                <div id="questions">
                    @for(int i = 0; i < Model.Questions.Count; i++)
                    {
                        <div class="question text-center mb-4" data-question-id="@i">
                            <input class="form-control mb-3" asp-for="Questions[i].Text" />
                            @for(int j = 0; j < Model.Questions[i].Answers.Count; j++)
                            {
                                <div class="row align-items-center justify-content-between mb-3 m-0">
                                    <div class="col-auto">
                                        <input class="form-check" type="radio" asp-for="Questions[i].CorrectAnswerId" value="@j"/>
                                    </div>
                                    <div class="col p-0">
                                        <input class="form-control" asp-for="Questions[i].Answers[j]"/>
                                    </div>
                                </div>
                            }
                        </div>
                    }
                </div>
                <div class="text-center mb-5">
                    <button id="add-question-btn" class="btn-add-question" type="button">@Localizer["AddQuestion"]</button>
                </div>
            </div>

            <div class="row gx-2 justify-content-center">
                <div class="col-auto">
                    <button class="btn btn-test btn-delete fw-bold" type="reset">@Localizer["Remove"]</button>
                </div>
                <div class="col-auto">
                    <button class="col-auto btn btn-test btn-send fw-bold" type="submit">@Localizer["Send"]</button>
                </div>
                <div class="col-auto">
                    <button class="col-auto btn-test-square fw-bold" type="button">?</button>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            const addButton = $('#add-question-btn');
            let questionIndex = @Model.Questions.Count;

            function addQuestion() {
                const questionDiv = $('<div>').addClass('question text-center mb-4');

                const inputText = $('<input>')
                    .attr('name', `Questions[${questionIndex}].Text`)
                    .attr('id', `Questions_${questionIndex}__Text`)
                    .addClass('form-control mb-3');

                questionDiv.append(inputText);

                for (let i = 0; i < 4; i++) {
                    const rowDiv = $('<div>').addClass('row align-items-center justify-content-between mb-3 m-0');

                    const radioCol = $('<div>').addClass('col-auto');
                    const radioInput = $('<input>')
                        .attr('type', 'radio')
                        .attr('name', `Questions[${questionIndex}].CorrectAnswerId`)
                        .attr('id', `Questions_${questionIndex}__CorrectAnswerId_${i}`)
                        .attr('value', i)
                        .addClass('form-check');

                    radioCol.append(radioInput);
                    rowDiv.append(radioCol);

                    const inputCol = $('<div>').addClass('col p-0');
                    const inputField = $('<input>')
                        .attr('name', `Questions[${questionIndex}].Answers[${i}]`)
                        .attr('id', `Questions_${questionIndex}__Answers_${i}`)
                        .addClass('form-control');

                    inputCol.append(inputField);
                    rowDiv.append(inputCol);

                    questionDiv.append(rowDiv);
                }

                $('#questions').append(questionDiv);

                questionIndex++;
            }

            addButton.on('click', addQuestion);
        });
    </script>
}