@using YouCan.Mvc.Areas.Admin.ViewModels
@using YouCan.Entities
@model StatViewModel
@{
    Layout = "_Admin";
    List<string> colors = new(){
        "red",
        "orange",
        "cyan",
        "rgba(162, 9, 255, 1)",
        "rgba(255, 0, 168, 1)",
        "green"
    };
}

<div class="d-flex mb-3 justify-content-between">
    <div class="card mb-3" style="height: 172px;">
        <div class="row g-0">
            <div class="col-md-4 pt-5 ps-3">
                <img src="~/adminIcons/list.png" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">

                      <h5 class="card-title">@Model.UsersCount</h5>
                    
                    <p class="card-text">Общая аудитория</p>
                    <p class="card-text"><small class="text-body-secondary">@(Model.AllNewUsers)% (30 дней)</small></p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3 ms-5" style="height: 172px;">
        <div class="row g-0">
            <div class="col-md-4 pt-5 ps-3">
                <img src="~/adminIcons/box.png" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">

                    <h5 class="card-title">@Model.Start.Users.Count</h5>
                    <p class="card-text">@Model.Start.Name юзеры</p>
                    
                    <p class="card-text"><small class="text-body-secondary">@(Model.NewStartUsers)% (30 дней)</small></p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3 ms-5" style="height: 172px;">
        <div class="row g-0">
            <div class="col-md-4 pt-5 ps-3">
                <img src="~/adminIcons/list.png" class="rounded-start img-fluid m-1" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">@Model.Pro.Users.Count</h5>
                    <p class="card-text">@Model.Pro.Name юзеры</p>
                    <p class="card-text"><small class="text-body-secondary">@(Model.NewProUsers)% (30 дней)</small></p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3 ms-5 me-3" style="height: 172px;">
        <div class="row g-0">
            <div class="col-md-4 pt-5 ps-3">
                <img src="~/adminIcons/list.png" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">@Model.Premium.Users.Count</h5>
                    <p class="card-text">@Model.Premium.Name юзеры</p>
                    <p class="card-text"><small class="text-body-secondary">@(Model.NewPremiumUsers)% (30 дней)</small></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card mb-3" style="width: 718px;">
    <div class="card-header mt-3 ms-3">Pie chart</div>
    <div class="card-body" style="height: 327px;">
        <div class="row mt-4 ms-5">
            <div class="col-4">
                <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                    <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                        <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                    </div>
                    <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                    </div>
                </div> 
                <canvas id="chart-line" class="chartjs-render-monitor" ></canvas>
            </div>
            <div class="col-4">
                <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                    <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                        <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                    </div>
                    <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                    </div>
                </div> 
                <canvas id="chart-line2" class="chartjs-render-monitor" ></canvas>
            </div>
            <div class="col-4">
                <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                    <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                        <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                    </div>
                    <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                    </div>
                </div> 
                <canvas id="chart-line3" class="chartjs-render-monitor" ></canvas>
            </div>
        </div>
    </div>
</div>

<div class="card" style="width: 795px; height: 360px;">
    <div class="row">
        <div class="col-12 mt-3 ms-4">
            <h3>Созданные тесты</h3>
        </div>
        <div class="col-md-5 mt-3">
            <ul class="list-group">
                <!-- Список уроков с количеством тестов -->
                @for(int i = 0; i < Model.Tests.Count; i++)
                {
                    @if (Model.Tests[i] != null)
                    {
                        <li class="d-flex justify-content-between align-items-center ms-4 mt-3">
                            <span class="subject-name">@Model.Tests[i].Name</span>
                            <span class="count">
                                <i style="color: @colors[i]" class="bi bi-square-fill me-3 color-count"></i>
                                @Model.Tests[i].Count
                            </span>
                        </li>
                    }
                }
            </ul>
        </div>
        <div class="col-md-7 mt-3">
            <!-- Место для вертикального Bar Chart -->
            <canvas id="lessonChart"></canvas>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var ctx = $('#chart-line');
        var myLineChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: ["Start", "Всего"],
                datasets: [{
                    data: [@Model.Start.Users.Count, @Model.UsersCount],
                    backgroundColor: ["rgba(255, 91, 91, 1)", "rgba(255, 91, 91, 0.15)"]
                }]
            },
        });

        var ctx2 = $("#chart-line2");
        var myLineChart2 = new Chart(ctx2, {
            type: 'pie',
            data: {
                labels: ["Pro", "Всего"],
                datasets: [{
                    data: [@Model.Pro.Users.Count, @Model.UsersCount],
                    backgroundColor: ["rgba(0, 176, 116, 1)", "rgba(0, 176, 116, 0.15)"]
                }]
            },
        });

        var ctx3 = $("#chart-line3");
        var myLineChart3 = new Chart(ctx3, {
            type: 'pie',
            data: {
                labels: ["Premium", "Всего"],
                datasets: [{
                    data: [@Model.Premium.Users.Count, @Model.UsersCount],
                    backgroundColor: ["rgba(45, 156, 219, 1)", "rgba(45, 156, 219, 0.15)"]
                }]
            },
        });

        const ctx4 = document.getElementById('lessonChart').getContext('2d');
        var labelsArray = [];
        var colors = [];
        var counts = [];
        $('.subject-name').each(function () {
            labelsArray.push($(this).text())
        });
        $('.color-count').each(function () {
            var styleAttr = $(this).attr('style');
            var color = styleAttr.match(/color:\s*([^;]+)/);


            if (color) {
                colors.push(color[1].trim());
            }
        });
        $('.count').each(function () {
            counts.push($(this).text());
            
        });
        const lessonChart = new Chart(ctx4, {
            type: 'bar',
            data: {
                labels: labelsArray, // Добавьте названия уроков
                datasets: [{
                    data: counts, // Соответствующие значения тестов
                    backgroundColor: colors,
                    borderWidth: 1,
                    barThickness: 24.38
                }]
            },
            options: {
                plugins: {
                    legend: {
                        display: false // Отключить отображение легенды
                    }
                },
                scales: {
                    y: {
                        display: false, // Отключить ось Y
                        grid: {
                            display: false // Убрать сетку по оси Y
                        },
                        ticks: {
                            display: false // Отключить подписи на оси Y
                        }
                    },
                    x: {
                        display: false, // Отключить ось X
                        grid: {
                            display: false // Убрать сетку по оси X
                        },
                        ticks: {
                            display: false // Отключить подписи на оси X
                        }
                    }
                }
            }
        });
    });
</script>