@model YouCan.Entities.Test

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Test</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GainingExperience)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GainingExperience)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeForTestInMin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeForTestInMin)
        </dd>
        @if (Model.Lesson != null)
        {
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Lesson)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.LessonId)
            </dd>
        }
    </dl>
    <h2>Вопросы</h2>
    <a asp-action="Create" asp-controller="Questions" asp-route-id="@Model.Id" asp-route-returnUrl="@Url.Action("Details", "Tests", new{id = Model.Id})">Добавить вопрос</a>
    <br />
    @foreach (var q in Model.Questions)
    {
        <div class="border border-1">
            <a asp-action="Details" asp-controller="Questions" asp-route-id="@q.Id">Вопрос: @q.Content</a>
            <p>Контент: @q.Content</p>
            <p>Опубликован: @q.IsPublished</p>
            <h4>Варианты ответа</h4>
            <a asp-action="Create" asp-controller="Answers" asp-route-id="@q.Id" asp-route-returnUrl="@Url.Action("Details", "Tests", new{id = Model.Id})">Добавить вариант ответа</a>
            @foreach (var a in q.Answers)
            {
                <ul>
                    @if (a.IsCorrect)
                    {
                        <li class="text-success">@a.Content</li>
                    }
                    else
                    {
                        <li class="text-danger">@a.Content</li>
                    }
                </ul>
            }
        </div>
    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

