@model IEnumerable<YouCan.Entities.Test>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <h1 class="my-4 text-center">@ViewData["Title"]</h1>

    <div class="text-right mb-3">
        <a asp-action="Create" class="btn btn-primary">Create New</a>
    </div>

    <div class="table-responsive-md">
        <table class="table table-hover table-striped table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>@Html.DisplayNameFor(model => model.GainingExperience)</th>
                <th>@Html.DisplayNameFor(model => model.TimeForTestInMin)</th>
                <th>@Html.DisplayNameFor(model => model.Lesson)</th>
                <th class="text-center">Actions</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.GainingExperience)</td>
                    <td>@Html.DisplayFor(modelItem => item.TimeForTestInMin)</td>
                    <td>@Html.DisplayFor(modelItem => item.Lesson.Title)</td>
                    <td class="text-nowrap text-center">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning my-1">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info my-1">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger my-1">Delete</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>