@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@using System.Globalization

@{
ViewBag.Title = Localizer["PageTitle"];
Layout = "_layout";
}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/landing.css">
    <title>YouCan</title>
</head>

<body>
    <section class="section1">
        <div class="background">
            <div class="stars"></div>
            <div class="mountains"></div>
        </div>
        <div class="section1_container">
            <div class="navContainer">
                <nav>
                    <a href="#" class="linkLogo">
                        <img src="~/landingIcons/YouCanLogo.png" alt="logo">
                        <span class="textLogo">youcan</span>
                    </a>

                    <div class="user-info dropdown">
                        @if (User.Identity.IsAuthenticated)
                        {
                        <span class="dropdown-toggle fw-bold" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">@User.Identity.Name</span>

                        <ul class="dropdown-menu">
                            <li>
                                <a asp-action="Profile" asp-controller="Account"
                                    class="dropdown-item">@Localizer["Profile"] -
                                    @User.Identity.Name</a>
                            </li>
                            <li>
                                <style>
                                    .language-switch span {
                                        color: #000;
                                    }
                                </style>
                                @await Html.PartialAsync("_LanguageSwitch")
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <form class="d-flex justify-content-start dropdown-item" asp-action="LogOut"
                                    asp-controller="Account">
                                    <button type="submit"
                                        class="border-0 bg-transparent ps-3 text-center d-block text-decoration-none link-theme-secondary">@Localizer["Logout"]</button>
                                </form>
                            </li>
                        </ul>
                        }
                        else
                        {
                            @await Html.PartialAsync("_LanguageSwitch")
                        }
                    </div>

                </nav>
            </div>

            <div class="section1_content">
                <div class="section1_content_actions">
                    <h1>@Localizer["Title"]
                    </h1>
                    @if (User.Identity.IsAuthenticated)
                    {
                    <a asp-action="Profile" asp-controller="Account" class="login">@Localizer["GoToProfile"]</a>
                    }
                    else
                    {
                    <a asp-controller="Account" asp-action="Register" class="register">@Localizer["Register"]</a>
                    <a asp-controller="Account" asp-action="Login" class="login">@Localizer["Login"]</a>
                    }

                </div>

                <div class="section1_content_img">
                    <a href="#">
                        <img src="~/landingIcons/v1_2622.png" alt="Youcan trailer">
                    </a>
                    <p class="linkTrailer">@Localizer["YouCanTrailerTitle"]<br>
                        <a href="#">@Localizer["YouCanTrailerSubtitle"]</a>
                        <span></span>
                    </p>
                </div>
            </div>

        </div>
    </section>

    <section class="section2">
        <div class="section2_subjects">
            <div class="math">
                <span></span>
                <p>@Localizer["SubjectMath"]</p>
            </div>
            <div class="kyrgyz">
                <span></span>
                <p>@Localizer["SubjectKyrgyz"]</p>
            </div>
            <div class="russian">
                <span></span>
                <p>@Localizer["SubjectRussian"]</p>
            </div>
            <div class="chemistry">
                <span></span>
                <p>@Localizer["SubjectChemistry"]</p>
            </div>
            <div class="biology">
                <span></span>
                <p>@Localizer["SubjectBiology"]</p>
            </div>
            <div class="history">
                <span></span>
                <p>@Localizer["SubjectHistory"]</p>
            </div>
            <div class="physics">
                <span></span>
                <p>@Localizer["SubjectPhysics"]</p>
            </div>
            <div class="english">
                <span></span>
                <p>@Localizer["SubjectEnglish"]</p>
            </div>
        </div>
    </section>

    <section class="section3">
        <div class="section3_topContent">
            <div class="section3_topContent_img">
                <img src="~/landingIcons/computer_man_right1.png" alt="computer_man_right1">
            </div>
            <div class="section3_topContent_content">
                <h3>@Localizer["TopContentTitle"]</h3>
                <p>@Localizer["TopContentDescription"]</p>
            </div>

        </div>
        <hr>
        <div class="section3_bottomContent">
            <h3>@Localizer["BottomContentTitle"]</h3>
            <div class="section3_bottomContent_row">
                <div class="section3_bottomContent_column">
                    <div class="section3_card card1">
                        <h4>@Localizer["BottomContentCardTitle1"]</h4>
                        <p>@Localizer["BottomContentCardDescription1"]</p>
                        <span></span>
                    </div>
                    <div class="section3_card card2">
                        <h4>@Localizer["BottomContentCardTitle2"]</h4>
                        <p>@Localizer["BottomContentCardDescription2"]</p>
                        <span></span>
                    </div>
                </div>

                <img src="~/landingIcons/discipline-abstract-concept.png" alt="discipline-abstract-concept"
                    class="section3_bottomContent_img">

                <div class="section3_bottomContent_column">
                    <div class="section3_card card3">
                        <h4>@Localizer["BottomContentCardTitle3"]</h4>
                        <p>@Localizer["BottomContentCardDescription3"]</p>
                        <span></span>
                    </div>
                    <div class="section3_card card4">
                        <h4>@Localizer["BottomContentCardTitle4"]</h4>
                        <p>@Localizer["BottomContentCardDescription4"]</p>
                        <span></span>
                    </div>
                </div>
            </div>

        </div>

        <div class="timeblock-bg benefits-bg-color my-3">
            <div class="container">
                <img class="time-img" src="~/landingIcons/bonbon-bills-wallet.png" alt="clock-image" />
                <p class="time-text">@Localizer["TimeBlock"]</p>
            </div>
        </div>

    </section>

    <div class="container desktop-cards">
        <div class="card card-first-last p-4 subscription-card">
            <div class="card-body d-flex flex-column">
                <img src="~/landingIcons/lending1.svg" class="img-fluid mb-3 mx-auto" alt="Subscription Image" />
                <p class="title-card-first-last">Старт</p>
                <p class="price-info-first-last">
                    @Localizer["Free"]
                </p>
                <ul class="text-list-first-last">
                    <li>
                        <div class="checkbox-container">
                            <div class="checkbox-icon"></div>
                        </div>
                        @Localizer["StartFeatures1"]
                    </li>
                    <li>
                        <div class="checkbox-container">
                            <div class="checkbox-icon"></div>
                        </div>
                        @Localizer["StartFeatures2"]
                    </li>
                    <li>
                        <div class="checkbox-container">
                            <div class="checkbox-icon"></div>
                        </div>
                        @Localizer["StartFeatures3"]
                    </li>
                    <li>
                        <div class="checkbox-container">
                            <div class="checkbox-icon"></div>
                        </div>
                        @Localizer["StartFeatures4"]
                    </li>
                </ul>
                <a href="#" class="btn btn-first-last text-center mt-auto">Ваш тариф</a>
            </div>
        </div>

        <div class="card card-middle p-4 subscription-card">
            <div class="card-body d-flex flex-column">
                <img src="~/landingIcons/lending1.svg" class="img-fluid mb-3 mx-auto" alt="Subscription Image" />
                <p class="title-card">Про</p>
                <p class="price-info">
                    <strong>1200 <span>С</span> /</strong> @Localizer["PerMonth"]
                </p>
                <ul class="text-list">
                    <li>
                        <div class="checkbox-container-middle">
                            <div class="checkbox-icon-middle"></div>
                        </div>
                        @Localizer["ProFeatures1"]
                    </li>
                    <li>
                        <div class="checkbox-container-middle">
                            <div class="checkbox-icon-middle"></div>
                        </div>
                        @Localizer["StartFeatures2"]
                    </li>
                    <li>
                        <div class="checkbox-container-middle">
                            <div class="checkbox-icon-middle"></div>
                        </div>
                        @Localizer["ProFeatures3"]
                    </li>
                    <li>
                        <div class="checkbox-container-middle">
                            <div class="checkbox-icon-middle"></div>
                        </div>
                        @Localizer["ProFeatures4"]
                    </li>
                    <li>
                        <div class="checkbox-container-middle">
                            <div class="checkbox-icon-middle"></div>
                        </div>
                        @Localizer["ProFeatures5"]
                    </li>
                </ul>
                <a href="#" class="btn btn-select text-center mt-auto">@Localizer["Select"]</a>
            </div>
        </div>

        <div class="card card-first-last p-4 subscription-card">
            <div class="card-body d-flex flex-column">
                <img src="~/landingIcons/lending1.svg" class="img-fluid mb-3 mx-auto" alt="Subscription Image" />
                <p class="title-card-first-last">Премиум</p>
                <p class="price-info-first-last">
                    <strong>3000 <span>С</span> /</strong> @Localizer["Per3Months"]
                </p>
                <ul class="text-list-first-last">
                    <li>
                        <div class="checkbox-container">
                            <div class="checkbox-icon"></div>
                        </div>
                        @Localizer["PremiumFeatures1"]
                    </li>
                    <li>
                        <div class="checkbox-container">
                            <div class="checkbox-icon"></div>
                        </div>
                        @Localizer["ProFeatures1"]
                    </li>
                    <li>
                        <div class="checkbox-container">
                            <div class="checkbox-icon"></div>
                        </div>
                        @Localizer["StartFeatures2"]
                    </li>
                    <li>
                        <div class="checkbox-container">
                            <div class="checkbox-icon"></div>
                        </div>
                        @Localizer["ProFeatures3"]
                    </li>
                    <li>
                        <div class="checkbox-container">
                            <div class="checkbox-icon"></div>
                        </div>
                        @Localizer["ProFeatures4"]
                    </li>
                    <li>
                        <div class="checkbox-container">
                            <div class="checkbox-icon"></div>
                        </div>
                        @Localizer["ProFeatures5"]
                    </li>
                </ul>
                <a href="#" class="btn btn-first-last text-center mt-auto">@Localizer["Select"]</a>
            </div>
        </div>
    </div>

    <div class="container mobile-cards">
        <div>
            <div class="mobile-card-first_last" id="briefContent1">
                <div class="show">
                    <p>Старт</p>
                    <button class="btn btn-link text-white" data-bs-toggle="collapse" data-bs-target="#fullContent1"
                        aria-expanded="false" aria-controls="fullContent1" id="toggleAboutBtn1">
                        @Localizer["MoreDetails"];
                        <img src="~/landingIcons/Vector_down.png" alt="Vector_down" />
                    </button>
                </div>
                <strong class="price-info-first-last">0 <span>С</span></strong>
            </div>
            <div id="fullContent1" class="collapse mt-3">
                <div class="card card-first-last p-4 subscription-card">
                    <div class="card-body d-flex flex-column">
                        <img src="~/landingIcons/lending1.svg" class="img-fluid mb-3 mx-auto"
                            alt="Subscription Image" />
                        <p class="title-card-first-last">Старт</p>
                        <p class="price-info-first-last">
                            @Localizer["Free"]
                        </p>
                        <ul class="text-list-first-last">
                            <li>
                                <div class="checkbox-container">
                                    <div class="checkbox-icon"></div>
                                </div>
                                @Localizer["StartFeatures1"]
                            </li>
                            <li>
                                <div class="checkbox-container">
                                    <div class="checkbox-icon"></div>
                                </div>
                                @Localizer["StartFeatures2"]
                            </li>
                            <li>
                                <div class="checkbox-container">
                                    <div class="checkbox-icon"></div>
                                </div>
                                @Localizer["StartFeatures3"]
                            </li>
                            <li>
                                <div class="checkbox-container">
                                    <div class="checkbox-icon"></div>
                                </div>
                                @Localizer["StartFeatures4"]
                            </li>
                        </ul>
                        <a href="#" class="btn btn-first-last text-center mt-auto">Ваш тариф</a>
                        <button class="btn mt-3" data-bs-toggle="collapse" data-bs-target="#fullContent1"
                            aria-expanded="true" aria-controls="fullContent1" id="closeFullContent1">
                            <img src="~/landingIcons/arrowhead-up-white.png" alt="arrowhead-up" />
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="mobile-card-middle" id="briefContent2">
                <div class="show">
                    <p>Про</p>
                    <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#fullContent2"
                        aria-expanded="false" aria-controls="fullContent2" id="toggleAboutBtn2">
                        @Localizer["MoreDetails"];
                        <img src="~/landingIcons/VectorUpBlue.png" alt="Vector_down" />
                    </button>
                </div>
                <strong class="price-info">1200 <span>С</span></strong>
            </div>

            <div id="fullContent2" class="collapse mt-3">
                <div class="card card-middle p-4 subscription-card">
                    <div class="card-body d-flex flex-column">
                        <img src="~/landingIcons/lending1.svg" class="img-fluid mb-3 mx-auto"
                            alt="Subscription Image" />
                        <p class="title-card">Про</p>
                        <p class="price-info">
                            <strong>1200 <span>С</span> /</strong> @Localizer["PerMonth"]
                        </p>
                        <ul class="text-list">
                            <li>
                                <div class="checkbox-container-middle">
                                    <div class="checkbox-icon-middle"></div>
                                </div>
                                @Localizer["ProFeatures1"]
                            </li>
                            <li>
                                <div class="checkbox-container-middle">
                                    <div class="checkbox-icon-middle"></div>
                                </div>
                                @Localizer["StartFeatures2"]
                            </li>
                            <li>
                                <div class="checkbox-container-middle">
                                    <div class="checkbox-icon-middle"></div>
                                </div>
                                @Localizer["ProFeatures3"]
                            </li>
                            <li>
                                <div class="checkbox-container-middle">
                                    <div class="checkbox-icon-middle"></div>
                                </div>
                                @Localizer["ProFeatures4"]
                            </li>
                            <li>
                                <div class="checkbox-container-middle">
                                    <div class="checkbox-icon-middle"></div>
                                </div>
                                @Localizer["ProFeatures5"]
                            </li>
                        </ul>
                        <a href="#" class="btn btn-select text-center mt-auto">@Localizer["Select"]</a>
                        <button class="btn mt-3" data-bs-toggle="collapse" data-bs-target="#fullContent2"
                            aria-expanded="true" aria-controls="fullContent2" id="closeFullContent2">
                            <img src="~/landingIcons/arrowhead-up-blue.png" alt="arrowhead-up-blue" />
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="mobile-card-first_last" id="briefContent3">
                <div class="show">
                    <p>Премиум</p>
                    <button class="btn btn-link text-white" data-bs-toggle="collapse" data-bs-target="#fullContent3"
                        aria-expanded="false" aria-controls="fullContent3" id="toggleAboutBtn3">
                        @Localizer["MoreDetails"];
                        <img src="~/landingIcons/Vector_down.png" alt="Vector_down" />
                    </button>
                </div>
                <strong class="price-info-first-last">3000 <span>С</span></strong>
            </div>
            <div id="fullContent3" class="collapse mt-3">
                <div class="card card-first-last p-3 subscription-card">
                    <div class="card-body d-flex flex-column">
                        <img src="~/landingIcons/lending1.svg" class="img-fluid mb-3 mx-auto"
                            alt="Subscription Image" />
                        <p class="title-card-first-last">Премиум</p>
                        <p class="price-info-first-last">
                            <strong>3000 <span>С</span> /</strong> @Localizer["Per3Months"]
                        </p>
                        <ul class="text-list-first-last">
                            <li>
                                <div class="checkbox-container">
                                    <div class="checkbox-icon"></div>
                                </div>
                                @Localizer["PremiumFeatures1"]
                            </li>
                            <li>
                                <div class="checkbox-container">
                                    <div class="checkbox-icon"></div>
                                </div>
                                @Localizer["ProFeatures1"]
                            </li>
                            <li>
                                <div class="checkbox-container">
                                    <div class="checkbox-icon"></div>
                                </div>
                                @Localizer["StartFeatures2"]
                            </li>
                            <li>
                                <div class="checkbox-container">
                                    <div class="checkbox-icon"></div>
                                </div>
                                @Localizer["ProFeatures3"]
                            </li>
                            <li>
                                <div class="checkbox-container">
                                    <div class="checkbox-icon"></div>
                                </div>
                                @Localizer["ProFeatures4"]
                            </li>
                            <li>
                                <div class="checkbox-container">
                                    <div class="checkbox-icon"></div>
                                </div>
                                @Localizer["ProFeatures5"]
                            </li>
                        </ul>
                        <a href="#" class="btn btn-first-last text-center mt-auto">@Localizer["Select"]</a>
                        <button class="btn" data-bs-toggle="collapse" data-bs-target="#fullContent3"
                            aria-expanded="true" aria-controls="fullContent3" id="closeFullContent3">
                            <img src="~/landingIcons/arrowhead-up-white.png" alt="arrowhead-up" />
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="last-lending">
        <div class="timeblock-bg timeblock-bg-color">
            <div class="container">
                <img class="time-img" src="~/landingIcons/24-hours1.png" alt="clock-image" />
                <p class="time-text">@Localizer["LastTextLandingTitle"]</p>
            </div>
        </div>
        <div class="container pre-footer-info-title-subtitle">
            <p class="pre-footer-info_texts_title-1">
                @Localizer["PrefooterInfoTextsTitle"]
            </p>
            <p class="pre-footer-info_texts_subtitle-1">
                @Localizer["PrefooterInfoTextsSubtitle"]
            </p>
        </div>
        <div class="pre-footer-info container">
            <div class="pre-footer-info_img">
                <img src="~/landingIcons/care-background1.png" alt="people-image" />
            </div>
            <div class="pre-footer-info_texts">
                <p class="pre-footer-info_texts_title">
                    @Localizer["PrefooterInfoTextsTitle"]
                </p>
                <p class="pre-footer-info_texts_subtitle">
                    @Localizer["PrefooterInfoTextsSubtitle"]
                </p>
                <div class="pre-footer-info_texts_blocks">
                    <div class="pre-footer-info_texts_timeblock">
                        <img class="timeblock_img" src="~/landingIcons/icons8-alarm-clock-100.png" alt="alarm-icon" />
                        <div>
                            <p class="pre-footer-info_texts_timeblock_title">
                                @Localizer["PrefooterInfoTextsBlockTitle1"]
                            </p>
                            <p class="pre-footer-info_texts_timeblock_subtitle">
                                @Localizer["PrefooterInfoTextsBlockSubtitle1"]
                            </p>
                        </div>
                    </div>

                    <div class="pre-footer-info_texts_timeblock">
                        <img class="timeblock_img" src="~/landingIcons/icons8-multiple-devices-100.png"
                            alt="alarm-icon" />
                        <div>
                            <p class="pre-footer-info_texts_timeblock_title">
                                @Localizer["PrefooterInfoTextsBlockTitle2"]
                            </p>
                            <p class="pre-footer-info_texts_timeblock_subtitle">
                                @Localizer["PrefooterInfoTextsBlockSubtitle2"]
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="preparing_block">
            <p>@Localizer["PreparingBlockText"]</p>
            <a class="btn" href="#">@Localizer["PreparingBlockLink"]</a>
        </div>

        <div class="footer-first_bg">
            <img src="~/landingIcons/Vector-footer.png" alt="vector" />
            <div class="footer-first_center_bg"></div>
        </div>

        <footer>
            <div class="container">
                <p class="footer-title">
                    @Localizer["FooterTitle"]
                </p>
                <div class="footer-info">
                    <p class="footer-info_agreement">
                        @Localizer.Links("FooterInfoAgreement", x => Html.ActionLink(x, "TermsOfUse", "Home"), x => Html.ActionLink(x, "PrivacyPolicy", "Home"))
                        <br />
                        @Localizer.GetString("FooterTime", DateTime.Now.ToString("d MMMM yyyy г. HH:mm",
                        CultureInfo.CurrentCulture))
                    </p>

                    <div class="footer-links_and_txt">
                        <div class="footer-socials-block">
                            <div class="footer-icons">
                                <a href="#" class="social-icon-inst">
                                    <img src="~/landingIcons/icons-instagram.png" alt="Instagram Icon" />
                                </a>

                                <a href="#" class="social-icon-tt">
                                    <img src="~/landingIcons/icons-тикток.png" alt="TikTok Icon" />
                                </a>
                            </div>

                            <div class="footer-links">
                                <a href="#" class="social-link-youtube">
                                    <img src="~/landingIcons/icons8-youtube.png" alt="YouTube Icon" />
                                    <span>|</span>
                                    <span>@Localizer["LinkSiteTrailer"]</span>
                                </a>

                                <a href="#" class="social-link-telegram">
                                    <img src="~/landingIcons/icons8-телеграмм.png" alt="Telegram Icon" />
                                    <span>| </span>
                                    <span>@Localizer["LinkCooperation"]</span>
                                </a>
                            </div>
                        </div>

                        <div class="footer-txts">
                            <a href="#">@Localizer["LinkAboutProject"]</a>
                            <a href="#">@Localizer["LinkAboutPayment"]</a>
                            <a href="#">@Localizer["LinkOurTeam"]</a>
                            <a href="#">@Localizer["LinkHelp"]</a>
                            <a href="#">@Localizer["LinkContacts"]</a>
                        </div>
                    </div>
                </div>

                <div class="footer-payinfo">
                    <div class="footer-payment">
                        <p>@Localizer["FooterPayment"]</p>
                        <a href="#">
                            <img src="~/landingIcons/icons8-виза.png" alt="Visa_icon" />
                        </a>
                        <a href="#">
                            <img src="~/landingIcons/icons8-вебмани.png" alt="Webmaney_icon" />
                        </a>
                        <a href="#">
                            <img src="~/landingIcons/icons8-мастеркард.png" alt="Mastercard_icon" />
                        </a>
                        <a href="#">
                            <img src="~/landingIcons/Group_O.png" alt="ODengi_icon" />
                        </a>
                    </div>
                    <p>© @(DateTime.Now.Year == 2024 ? "2024" : $"2024-{DateTime.UtcNow}") Youcan!</p>
                    <div class="footer-last-info">
                        <p>@Localizer["LinkWeUse"]</p>
                        <a href="https://www.freepik.com/">Freepik</a>
                        <a href="https://icons8.ru/">Icons8</a>
                    </div>
                </div>
            </div>
        </footer>
    </section>
    @section Scripts{
        <script src="~/js/landing.js"></script>
        @await Html.PartialAsync("_LanguageSwitchScript")
    }

</body>
</html>