@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@model List<YouCan.Mvc.Areas.Ort.ViewModels.OrtTestResultModel>

@{
    ViewBag.Title = @Localizer["PageTitle"];
    Layout = "_Navbar";
}

<h2>title</h2>

@foreach(var result in Model)
{
    <p class="border border-success">
        <h5>@Localizer["RightAnswers"] :  @result.RightsCount</h5>
        <h5>@Localizer["Amount"] : @result.QuestionCount</h5>
        <h5>@Localizer["TestId"] : @result.TestId</h5>
        <h5>@Localizer["SpentTime"] : @result.SpentTimeInMin</h5>
        <h5>@Localizer["TestPoints"] : @result.TestPoints</h5>
        <h5>@Localizer["AmointPoints"] : @result.PointsSum</h5>
    </p>
    
}

